.front-container{
    width: 17rem;
    height: 9.6rem;
    border: 1px solid #ccc;
    margin: auto;
    padding: 0.5rem;
}
.front-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.front-nav img{
    height: -webkit-fill-available;
    padding: 0px 5px; 
}
.front-nav-txt p:nth-child(1){
    background: linear-gradient(119.54deg, #d4851c 0%, #e47654 100%);
    padding: 0px 1rem;
    opacity: 0.8;
    margin-bottom: 5px;
}
.front-nav-txt p:nth-child(2){
    background: linear-gradient(119.54deg, #27440b 0%, #7bcc30 100%);
    padding: 0px 1rem;
    margin-top: 5px;
    opacity: 0.8;
}
.front-details-container{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.back-details-container{
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* height: 152px; */
    margin-top: 10px;
}
.front-details{
    margin-top: 10px;
    display: flex;
}
.back-details{
    width: 18rem;
}
.front-details img{
    width: 3rem;
    height: 4rem;
    padding-left: 1rem;
}
.front-details p, .back-details p{
    padding-left: 1rem;
    padding-top: 2px;
    font-size: 8px;
}
.front-footer{
    text-align: center;
    margin-top: 1rem;
}
.front-footer hr.end{
    background: red;
    height: 1px;
    border: none;
}
.front-footer hr.dotted {
  border: none;
  border-top: 1px dotted black;
}
.front-details hr, span{
    color: red;
}
.front-qrcode{
    height: 100px;
    width: 100px;
}
.back-qrcode{
    height: 4rem;
    width: 4rem;
}
.back-footicon {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}
@media (max-width: 600px){
    .front-container{
        width: 350px;
        height: 12rem;
    }
    .front-nav img{
        height: 2rem;
        padding: 0px 8px; 
    }
    .front-nav-txt p{
        font-size: 12px;
    }
    .front-details img{
        width: 70px;
        height: 85px;
    }
    .front-details p{
        font-size: 8px;
        padding: 0px;
        padding-left: 1rem;
    }
    .front-qrcode{
        height: 70px;
        width: 70px;
    }
    .front-footer h2{
        font-size: 18px;
    }.back-qrcode{
        height: 100px;
        width: 100px;
    }
    .back-details-container{
        /* height: 100px; */
    }
}